<template>
    <div id="app-container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <!--<h6 class="text-center pb-2">Busqueda</h6>-->
                    <form class="form-inline row justify-content-around" v-on:submit.prevent="" v-on:reset.prevent="resetSearch">
                        <div class="form-group mx-3 mb-2">
                            <div class="mx-2">
                                <input type="text" class="form-control text-center" v-model="search" v-on:keyup="makeSearch" placeholder="Buscar">
                            </div>
                            <div class="mx-2">
                                <button type="reset" class="btn btn-sm btn-secondary">Limpiar</button>
                            </div>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 w-25">
                            <button type="reset" v-on:click.prevent="newItem" class="btn btn-block btn-sm btn-success mx-3">Nuev{{this.genderLetter}}</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" v-show="(pagination.total > 0)">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col" width="10%" class="text-center">#</th>
                            <th scope="col" width="50%" class="text-center">Descripción</th>
                            <th scope="col" width="20%" class="text-center" v-show="selectable">Seleccionar</th>
                            <th scope="col" width="20%" class="text-center">Editar</th>
                            <th scope="col" width="20%" class="text-center">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in collection">
                            <th scope="row" class="text-center">{{ index + 1 }}</th>
                            <td class="text-center">{{ item.name }}</td>
                            <td class="text-center" v-show="selectable"><button class="btn btn-sm btn-info" v-on:click="$emit('item-selected', item)">Seleccionar</button></td>
                            <td class="text-center"><button class="btn btn-sm btn-warning" v-on:click="editItem(item)">Editar</button></td>
                            <td class="text-center"><button class="btn btn-sm btn-danger" v-show="(item.slug != 'admin')" v-on:click="deleteItem(item,false)">Eliminar</button></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(1)">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                    Anterior
                                </a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" v-bind:class="{ active: page === pagination.current_page}">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(page)">
                                    {{ page }}
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(pagination.current_page + 1)">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.last_page)">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-footer text-muted text-center">
                    {{ this.messagePagination }}
                </div>
            </div>
        </div>


        <!-- Modal create - edit -->
        <div class="modal fade" id="create-edit-modal" tabindex="-1" role="dialog" aria-labelledby="create-edit-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title" v-show="!onEdit">Nuev{{ this.genderLetter }} {{ this.title }}</h4>
                            <h4 class="modal-title" v-show="onEdit">Actualizar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" v-model="name" placeholder="Escribe un nombre">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success" v-show="!onEdit">Guardar</button>
                            <button type="submit" class="btn btn-sm btn-success" v-show="onEdit">Actualizar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de eliminar la categoria?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Eliminar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                collection: [], // collection to handle
                name: '', // name of the items in the collection
                oldName: '', // old name to an item when it updating
                search: '', // text for search in the collection
                onEdit: false, // determine if an item in the collection is being edited
                onDelete: false,
                itemOnEdit: null, // itemOnEdit: null, item that is being updated
                itemOnDelete: null,
                pagination: {
                    total:         0,
                    current_page:  0,
                    per_page:      0,
                    last_page:     0,
                    from:          0,
                    to:            0,
                },
                offset: 5, // offset for pagination
            }
        },
        props: {
            title: String,
            urlGet: String,
            urlCreate: String,
            urlUpdate: String,
            urlDelete: String,
            genderLetter: String,
            selectable: Boolean,
            module: String,
        },
        created () {
            this.getCollection();
        },
        methods: {
            getCollection: function (getName = '', page = '') {
                var url = this.urlGet + "?" + "name=" + getName + "&page=" + page;

                axios.get(url).then(response => {
                    this.collection = response.data.items.data,
                        this.pagination = response.data.pagination
                });
            },
            makeSearch: function () {
                this.getCollection(this.search);
            },
            resetSearch: function () {
                this.search = '';
                this.getCollection();
            },
            submitForm: function () {
                if( this.onEdit ) {
                    this.updateItem(this.itemOnEdit);
                }
                else if(this.onDelete){
                    this.deleteItem(this.itemOnDelete, true);
                }else{
                    this.createItem();
                }
            },
            newItem: function () {
                this.onEdit = false;
                this.name = '';
                $('#create-edit-modal').modal('show');
            },
            createItem: function () {
                axios.post(this.urlCreate, {
                    name : this.name
                }).then( response => {
                    $('#create-edit-modal').modal('hide');
                    this.getCollection(this.search, this.pagination.current_page);
                    this.name = '';
                    toastr.success('Creado correctamente');
                }).catch(error => {
                    toastr.error("Error");
                })
            },
            deleteItem: function (item, confirm) {
                if(confirm){
                    var url = this.urlDelete + '/' + item._id;
                    axios.delete(url).then( response => {
                        this.getCollection(this.search, this.currentPage);
                        this.itemOnDelete = null;
                        this.onDelete = false;
                        $('#delete-modal').modal('hide');
                        toastr.success('Eliminado correctamente');
                    }).catch(error => {
                        toastr.error("Error");
                    })
                }else{
                    this.itemOnDelete = item;
                    this.onDelete = true;
                    $('#delete-modal').modal('show');
                }
            },
            editItem: function (item) {
                console.log(item);
                this.name = '';
                this.name = item.name;
                this.itemOnEdit = item;
                this.onEdit = true;
                $('#create-edit-modal').modal('show');
            },
            updateItem: function (item) {
                console.log(item);
                var url = this.urlUpdate + '/' + item._id;
                console.log(item);
                axios.put(url, {
                    name : this.name
                }).then(
                    response => {
                        this.onEdit = false;
                        this.itemOnEdit = null;
                        this.getCollection(this.search, this.pagination.current_page);
                        $('#create-edit-modal').modal('hide');
                        toastr.success('Actualizado correctamente');
                    }).catch(error => {
                    toastr.error(error);
                })
            },
            cancelForm: function () {
                $('#create-edit-modal').modal('hide');
                $('#delete-modal').modal('hide');
                this.name = '';
                this.onEdit = false;
                this.onDelete = false;
                this.itemOnEdit = null;
                this.itemOnDelete = null;
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getCollection(this.search, page);
            },
        },
        computed: {
            pagesNumber: function () {

                if (!this.pagination.to) {
                    return [];
                }


                let from = this.pagination.current_page - this.offset; // TODO offset
                if (from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2); // TODO offset
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }


                return pagesArray;
            },
            currentPage: function () {
                if( this.pagination.from === this.pagination.to )
                {
                    return this.pagination.current_page - 1;
                }
                else
                {
                    return this.pagination.current_page;
                }
            },
            messagePagination: function () {
                if ( this.pagination.total === 0 ) {
                    return "No se han encontrado registros.";
                }
                else {
                    return "Registro(s) del " + this.pagination.from + " al " + this.pagination.to + " de " + this.pagination.total + " encontrado(s).";
                }

            }
        },
    }
</script>

<style scoped>

</style>
