<template>
    <div id="app-container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <!--<h6 class="text-center pb-2">Busqueda</h6>-->
                    <form class="form-inline row justify-content-around" v-on:submit.prevent="" v-on:reset.prevent="resetSearch">
                        <div class="form-group mx-3 mb-2">
                            <div class="mx-2">
                                <input type="text" class="form-control text-center" v-model="search" v-on:keyup="makeSearch" placeholder="Buscar">
                            </div>
                            <div class="mx-2">
                                <button type="reset" class="btn btn-sm btn-secondary">Limpiar</button>
                            </div>
                        </div>
                        <div class="form-group mx-sm-3 mb-2" :class="{ 'w-25': canCreate, 'd-none': !canCreate }">
                            <button type="reset" v-show="canCreate" v-on:click.prevent="newItem" class="btn btn-block btn-sm btn-success mx-3">Nuev{{this.genderLetter}}</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" v-show="(pagination.total > 0)">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Cédula</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Apellido</th>
                            <th scope="col" class="text-center">Sexo</th>
                            <th scope="col" class="text-center">Telefono</th>
                            <th scope="col" class="text-center">Dirección</th>
                            <th scope="col" class="text-center" v-show="selectable">Seleccionar</th>
                            <th scope="col" class="text-center" v-show="canEdit">Editar</th>
                            <th scope="col" class="text-center" v-show="canDelete">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in Collection">
                            <th scope="row" class="text-center">{{ index + 1 }}</th>
                            <td class="text-center">{{ item.dni }}</td>
                            <td class="text-center">{{ item.first_name }}</td>
                            <td class="text-center">{{ item.last_name }}</td>
                            <td class="text-center">{{ item.sex }}</td>
                            <td class="text-center">{{ item.phone }}</td>
                            <td class="text-center">{{ item.address }}</td>
                            <td class="text-center" v-show="selectable"><button class="btn btn-sm btn-info" v-on:click="$emit('item-selected', item)"><span class="oi oi-plus"></span></button></td>
                            <td class="text-center" v-show="canEdit"><button class="btn btn-sm btn-warning" v-on:click="editItem(item)"><span class="oi oi-pencil">Editar</span></button></td>
                            <td class="text-center" v-show="canDelete"><button class="btn btn-sm btn-danger" v-show="(item.slug != 'admin')" v-on:click="deleteItem(item, false)"><span class="oi oi-trash">Eliminar</span></button></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(1)">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                    Anterior
                                </a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" v-bind:class="{ active: page === pagination.current_page}">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(page)">
                                    {{ page }}
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(pagination.current_page + 1)">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.last_page)">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-footer text-muted text-center">
                    {{ this.messagePagination }}
                </div>
            </div>
        </div>


        <!-- Modal Create - Edit-->
        <div class="modal fade" id="create-edit-modal" tabindex="-1" role="dialog" aria-labelledby="create-edit-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title" v-show="!onEdit">Nuev{{ this.genderLetter }} {{ this.title }}</h4>
                            <h4 class="modal-title" v-show="onEdit">Actualizar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--<div class="input-group mb-3" v-show="onEdit">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre anterior</span>
                                </div>
                                <input type="text" class="form-control" id="old-nombre" v-model="oldNombre" readonly>
                            </div>-->
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="dni" v-model="client.dni" placeholder="Cédula - Formato: 23456987" required>
                            </div>                            
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="first_name" v-model="client.first_name" placeholder="Nombre" required>
                            </div>                           
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="last_name" v-model="client.last_name" placeholder="Apellido" required>
                            </div>              
                            
                            <div class="input-group mb-1">
                                <select class="form-control" id="tipo" v-model="client.sex" required>
                                    <option value="F">Femenino</option>
                                    <option value="M">Masculino</option>
                                </select>
                            </div>                          
                            <div class="input-group mb-1">
                                <input type="tel" class="form-control" id="phone" pattern="[0-9]{4}-[0-9]{7}" v-model="client.phone" placeholder="Teléfono - Formato: 0414-1235678" required>
                            </div>                         
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="address" v-model="client.address" placeholder="Dirección" required>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success" v-show="!onEdit">Guardar</button>
                            <button type="submit" class="btn btn-sm btn-success" v-show="onEdit">Actualizar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de eliminar el Cliente?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Eliminar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                Collection: [], // collection to handle
                client: {
                    dni: '',
                    first_name: '',
                    last_name: '',
                    sex: '',
                    phone: '',
                    address: '',
                },
                search: '', // text for search in the collection
                onEdit: false, // determine if an item in the collection is being edited
                onDelete: false,
                itemOnEdit: null, // itemOnEdit: null, item that is being updated
                itemOnDelete: null,
                pagination: {
                    total:         0,
                    current_page:  0,
                    per_page:      0,
                    last_page:     0,
                    from:          0,
                    to:            0,
                },
                offset: 5, // offset for pagination
            }
        },
        props: {
            title: String,
            urlGet: String,
            urlCreate: String,
            urlUpdate: String,
            urlDelete: String,
            genderLetter: String,
            selectable: Boolean,
            permissions_user: Object,
            module: String,
        },
        created () {
            console.log(this.permissions_user);
            this.getCollection();
        },
        methods: {
            getCollection: function (search = '', page = '') {
                var url = this.urlGet + "?" + "search=" + search + "&page=" + page;
                axios.get(url).then(response => {
                    this.Collection = response.data.items.data,
                    this.pagination = response.data.pagination
                });
            },
            makeSearch: function () {
                this.getCollection(this.search);
            },
            resetSearch: function () {
                this.search = '';
                this.getCollection();
            },
            submitForm: function () {
                if(this.client.dni !== '' && this.client.first_name !== '' && this.client.last_name !== null &&
                 this.client.sex !== null && this.client.phone !== null && this.client.address !== null ){
                    if( this.onEdit ) {
                        this.updateItem(this.itemOnEdit);
                    }else {
                        this.createItem();
                    }
                }else{
                     if(this.onDelete){
                        this.deleteItem(this.itemOnDelete, true);
                    }else{
                        toastr.error('Debes ingresar todos los campos obligatorios(*)');
                    }
                }
            },
            newItem: function () {
                this.onEdit = false;
                this.onDelete = false;
                this.description = '';
                $('#create-edit-modal').modal('show');
            },
            createItem: function () {
                axios.post(this.urlCreate, {
                    'dni'     : this.client.dni,
                    'first_name' : this.client.first_name,
                    'last_name' : this.client.last_name,
                    'sex'     : this.client.sex,
                    'phone' : this.client.phone,
                    'address' : this.client.address,
                }).then( response => {
                    console.log(response);
                    $('#create-edit-modal').modal('hide');
                    this.getCollection(this.search, this.pagination.current_page);
                    this.resetProperties();
                    toastr.success('Creado correctamente');
                }).catch(error => {
                    toastr.error("Error");
                })
            },
            deleteItem: function (item, confirm) {
                if(confirm){
                    var url = this.urlDelete + '/' + item._id;
                    axios.delete(url).then( response => {
                        this.itemOnDelete = null;
                        this.onDelete = false;
                        $('#delete-modal').modal('hide');
                        this.getCollection(this.search, this.currentPage);
                        toastr.success('Eliminado correctamente');
                    }).catch(error => {
                        toastr.error("Error");
                    })
                }else{
                    this.itemOnDelete = item;
                    this.onDelete = true;
                    $('#delete-modal').modal('show');
                }
            },
            editItem: function (item) {
                this.client.dni = item.dni;
                this.client.last_name = item.last_name;
                this.client.first_name = item.first_name;
                this.client.sex = item.sex;
                this.client.phone = item.phone;
                this.client.address = item.address;
                this.itemOnEdit = item;
                this.onEdit = true;
                $('#create-edit-modal').modal('show');
            },
            updateItem: function (item) {
                var url = this.urlUpdate + '/' + item._id;
                axios.put(url, {
                    'dni'     : this.client.dni,
                    'first_name' : this.client.first_name,
                    'last_name' : this.client.last_name,
                    'sex'     : this.client.sex,
                    'phone' : this.client.phone,
                    'address' : this.client.address,
                }).then(
                    response => {
                        this.onEdit = false;
                        this.itemOnEdit = null;
                        this.resetProperties();
                        this.getCollection(this.search, this.pagination.current_page);
                        toastr.success('Actualizado correctamente');
                        $('#create-edit-modal').modal('hide');
                    }).catch(error => {
                        toastr.error('error');
                })
            },
            cancelForm: function () {
                $('#create-edit-modal').modal('hide');
                $('#delete-modal').modal('hide');
                this.resetProperties();
                this.onEdit = false;
                this.onDelete = false;
                this.itemOnEdit = null;
                this.itemOnDelete = null;
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getCollection(this.search, page);
            },
            resetProperties: function () {
                this.client.dni = '';
                this.client.last_name = '';
                this.client.first_name = '';
                this.client.sex = '';
                this.client.phone = '';
                this.client.address = '';
            }
        },
        computed: {
            pagesNumber: function () {

                if (!this.pagination.to) {
                    return [];
                }


                let from = this.pagination.current_page - this.offset; // TODO offset
                if (from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2); // TODO offset
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }


                return pagesArray;
            },
            currentPage: function () {
                if( this.pagination.from === this.pagination.to )
                {
                    return this.pagination.current_page - 1;
                }
                else
                {
                    return this.pagination.current_page;
                }
            },
            messagePagination: function () {
                if ( this.pagination.total === 0 ) {
                    return "No se han encontrado registros.";
                }
                else {
                    return "Registro(s) del " + this.pagination.from + " al " + this.pagination.to + " de " + this.pagination.total + " encontrado(s).";
                }

            },
            canCreate: function () {
                return true;
            },
            canShow: function () {
                return true;
            },
            canEdit: function () {
                return true;
            },
            canDelete: function () {
                return true;
            },
        },
    }
</script>

<style scoped>

</style>
