<template>
    <div>
        <canvas id="report1" width="200" height="50"></canvas>
        <canvas id="report2" width="200" height="50"></canvas>
        <canvas id="report3" width="200" height="50"></canvas>
    </div>
</template>

<script>

    export default {
        data() {
            return {}
        },
        mounted() {
            this.showReport1();
            this.showReport2();
            this.showReport3();
        },
        methods: {
            showReport1: function () {
                var url = 'report/salesPerDay';

                axios.get(url).then(response => {
                    console.log(response);
                    var ctx = document.getElementById('report1');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
                            datasets: [{
                                label: 'Ingresos por día de la semana',
                                data: response.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(12, 78, 99, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(12, 78, 99, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
            },
            showReport2: function () {
                var url = 'report/salesPerMonth';

                axios.get(url).then(response => {
                    console.log(response);
                    var ctx = document.getElementById('report2');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                                        'Octubre', 'Noviembre', 'Diciembre'],
                            datasets: [{
                                label: 'Ingresos por mes',
                                data: response.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 159, 99, 0.2)',

                                    'rgba(15, 255, 45, 0.2)',
                                    'rgba(45, 43, 43, 0.2)',
                                    'rgba(90, 5, 123, 0.2)',
                                    'rgba(120, 23, 7, 0.2)',
                                    'rgba(200, 65, 54, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 159, 99, 1)',
                                    'rgba(15, 255, 45, 0.2)',
                                    'rgba(45, 43, 43, 0.2)',
                                    'rgba(90, 5, 123, 0.2)',
                                    'rgba(120, 23, 7, 0.2)',
                                    'rgba(200, 65, 54, 0.2)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
            },
            showReport3: function () {
                var url = 'report/clientsPerSex';

                axios.get(url).then(response => {
                    console.log(response);
                    var ctx = document.getElementById('report3');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Hombres', 'Mujeres'],
                            datasets: [{
                                label: 'Clientes por sexo',
                                data: response.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
            },
        }
    }
</script>

<style scoped>
</style>
