<template>
    <div id="app-container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <!--<h6 class="text-center pb-2">Busqueda</h6>-->
                    <form class="form-inline row justify-content-around" v-on:submit.prevent="" v-on:reset.prevent="resetSearch">
                        <div class="form-group mx-3 mb-2">
                            <div class="mx-2">
                                <input type="text" class="form-control text-center" v-model="search" v-on:keyup="makeSearch" placeholder="Buscar">
                            </div>
                            <div class="mx-2">
                                <button type="reset" class="btn btn-sm btn-secondary">Limpiar</button>
                            </div>
                        </div>
                        <div class="form-group mx-sm-3">
                            <select class="form-control" id="tipo_search" v-model="tipo_search" @change="makeSearch" required>
                                <option value="" selected>Seleccione la categoria</option>
                                <option :value="item._id" v-for="(item, index) in categoriesCollection">{{ item.name }}</option>
                            </select>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 w-25" v-if="!selectable">
                            <button type="reset" v-show="canCreate" v-on:click.prevent="newItem" class="btn btn-block btn-sm btn-success mx-3">Nuev{{this.genderLetter}}</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" v-show="(pagination.total > 0)">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Descripción</th>
                            <th scope="col" class="text-center">Precio de venta</th>
                            <th scope="col" class="text-center" v-if="!selectable">Costo</th>
                            <th scope="col" class="text-center" v-if="!selectable">¿Está en Menú?</th>
                            <th scope="col" class="text-center">Categoría</th>
                            <th scope="col" class="text-center" v-show="selectable">Seleccionar</th>
                            <th scope="col" class="text-center" v-if="!selectable">Editar</th>
                            <th scope="col" class="text-center" v-if="!selectable">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in productoCollection">
                            <th scope="row" class="text-center">{{ index + 1 }}</th>
                            <td class="text-center">{{ item.nombre }}</td>
                            <td class="text-center">{{ item.descripcion }}</td>
                            <td class="text-center">{{ item.precio }}</td>
                            <td class="text-center" v-if="!selectable">{{ item.costo }}</td>
                            <td class="text-center" v-if="!selectable"><input type="checkbox" @change="editMenu(item)" :checked=' item.in_menu '></td>
                            <td class="text-center">{{ item.tipo.name }}</td>
                            <td class="text-center" v-if="selectable"><button class="btn btn-sm btn-info" v-on:click="$emit('item-selected', item)">Seleccionar</button></td>
                            <td class="text-center" v-if="!selectable"><button class="btn btn-sm btn-warning" v-on:click="editItem(item)"><span class="oi oi-pencil">Editar</span></button></td>
                            <td class="text-center" v-if="!selectable"><button class="btn btn-sm btn-danger" v-show="(item.slug != 'admin')" v-on:click="deleteItem(item, false)"><span class="oi oi-trash">Eliminar</span></button></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(1)">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                    Anterior
                                </a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" v-bind:class="{ active: page === pagination.current_page}">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(page)">
                                    {{ page }}
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(pagination.current_page + 1)">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.last_page)">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-footer text-muted text-center">
                    {{ this.messagePagination }}
                </div>
            </div>
        </div>


        <!-- Modal Create - Edit-->
        <div class="modal fade" id="create-edit-modal" tabindex="-1" role="dialog" aria-labelledby="create-edit-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title" v-show="!onEdit">Nuev{{ this.genderLetter }} {{ this.title }}</h4>
                            <h4 class="modal-title" v-show="onEdit">Actualizar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--<div class="input-group mb-3" v-show="onEdit">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre anterior</span>
                                </div>
                                <input type="text" class="form-control" id="old-nombre" v-model="oldNombre" readonly>
                            </div>-->
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="nombre" v-model="producto.nombre" placeholder="Nombre del producto" required>
                            </div>                            
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="descripcion" v-model="producto.descripcion" placeholder="Escribe una descripción" required>
                            </div>                           
                            <div class="input-group mb-1">
                                <input type="number"  min="1" step="any" class="form-control" id="precio" v-model="producto.precio" placeholder="Indique el Precio" required>
                            </div>                         
                            <div class="input-group mb-1">
                                <input type="number"  min="1" step="any" class="form-control" id="costo" v-model="producto.costo" placeholder="Indique el Costo" required>
                            </div>
                            <div class="input-group mb-1">
                                <select class="form-control" id="tipo" v-model="producto.tipo._id" required>
                                    <option disabled value="0" selected>Seleccione la categoria</option>
                                    <option :value="item._id" v-for="(item, index) in categoriesCollection">{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="in_menu" v-model="producto.in_menu">
                                <label class="form-check-label" for="in_menu">Agregar a Menú</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success" v-show="!onEdit">Guardar</button>
                            <button type="submit" class="btn btn-sm btn-success" v-show="onEdit">Actualizar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="submitForm" v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar {{ this.title }}</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de eliminar el producto?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-success">Eliminar</button>
                            <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                productoCollection: [], // collection to handle
                categoriesCollection: [], // collection to handle
                producto: {
                    id: '',
                    nombre: '',
                    descripcion: '',
                    precio: null,
                    costo: null,
                    in_menu: '',
                    tipo: {_id: 0},
                    tipo_id: "",
                },
                tipo_search: '',
                search: '', // text for search in the collection
                onEdit: false, // determine if an item in the collection is being edited
                onDelete: false,
                itemOnEdit: null, // itemOnEdit: null, item that is being updated
                itemOnDelete: null,
                pagination: {
                    total:         0,
                    current_page:  0,
                    per_page:      0,
                    last_page:     0,
                    from:          0,
                    to:            0,
                },
                offset: 5, // offset for pagination
            }
        },
        props: {
            title: String,
            urlGet: String,
            urlCreate: String,
            urlUpdate: String,
            urlDelete: String,
            genderLetter: String,
            selectable: Boolean,
            permissions_user: Object,
            module: String,
        },
        created () {
            console.log(this.permissions_user);
            this.getCollection();
            this.getCategoriesCollection();
        },
        methods: {
            getCollection: function (search = '', page = '') {
                var url = this.urlGet + "?" + "search=" + search + "&page=" + page + "&tipo=" + this.tipo_search + (this.selectable ? '&inMenu=true' : '');
                axios.get(url).then(response => {
                    this.productoCollection = response.data.items.data;
                    this.pagination = response.data.pagination;
                });
            },
            getCategoriesCollection: function (search = '', page = '') {
                var url = 'categories/list' + "?" + "search=" + search + "&page=" + page + "&all";
                axios.get(url).then(response => {
                    this.categoriesCollection = response.data.items.data;
                });
            },
            makeSearch: function () {
                this.getCollection(this.search);
            },
            resetSearch: function () {
                this.search = '';
                this.getCollection();
            },
            submitForm: function () {
                if(this.producto.nombre !== '' && this.producto.descripcion !== '' && this.producto.precio !== null 
                    && this.producto.costo !== null && this.producto.tipo !== '' ){
                    if( this.onEdit ) {
                        this.updateItem(this.itemOnEdit);
                    }else {
                        this.createItem();
                    }
                }else{
                     if(this.onDelete){
                        this.deleteItem(this.itemOnDelete, true);
                    }else{
                        toastr.error('Debes ingresar todos los campos obligatorios(*)');
                    }
                }
            },
            newItem: function () {
                this.onEdit = false;
                this.onDelete = false;
                this.description = '';
                $('#create-edit-modal').modal('show');
            },
            createItem: function () {

                debugger;
                this.producto.tipo = this.categoriesCollection.find( (category) => {
                    return this.producto.tipo._id == category._id;
                });

                this.producto.tipo_id = this.producto.tipo._id;

                axios.post(this.urlCreate, {
                    'nombre'      : this.producto.nombre,
                    'descripcion' : this.producto.descripcion,
                    'precio'      : this.producto.precio,
                    'costo'       : this.producto.costo,
                    'in_menu'     : this.producto.in_menu,
                    'tipo'     : this.producto.tipo,
                    'tipo_id'     : this.producto.tipo_id,
                }).then( response => {
                    $('#create-edit-modal').modal('hide');
                    this.getCollection(this.search, this.pagination.current_page);
                    this.resetProperties();
                    toastr.success('Creado correctamente');
                }).catch(error => {
                    toastr.error("Error");
                })
            },
            deleteItem: function (item, confirm) {
                if(confirm){
                    var url = this.urlDelete + item._id;
                    axios.delete(url).then( response => {
                        this.itemOnDelete = null;
                        this.onDelete = false;
                        $('#delete-modal').modal('hide');
                        this.getCollection(this.search, this.currentPage);
                        toastr.success('Eliminado correctamente');
                    }).catch(error => {
                        toastr.error("Error");
                    })
                }else{
                    this.itemOnDelete = item;
                    this.onDelete = true;
                    $('#delete-modal').modal('show');
                }
            },
            editMenu: function(item){
                var valor = item.in_menu?false:true;
                var url = this.urlUpdate + item._id;

            axios.put(url, {
                'nombre'      : item.nombre,
                'descripcion' : item.descripcion,
                'precio'      : item.precio,
                'costo'       : item.costo,
                'in_menu'     : valor,
                'tipo'     : item.tipo,
            }).then(
                response => {
                    this.getCollection(this.search, this.pagination.current_page);
                    toastr.success('Menú actualizado correctamente');
                }).catch(error => {
                toastr.error(error);
            })
        },
        editItem: function (item) {
                this.producto.nombre = item.nombre;
                this.producto.descripcion = item.descripcion;
                this.producto.precio = item.precio;
                this.producto.costo = item.costo;
                this.producto.in_menu = item.in_menu;
                this.producto.tipo = item.tipo;
                this.itemOnEdit = item;
                this.onEdit = true;
                $('#create-edit-modal').modal('show');
            },
            updateItem: function (item) {
                var url = this.urlUpdate + item._id;

                this.producto.tipo = this.categoriesCollection.find( (category) => {
                    return this.producto.tipo._id == category._id;
                });

                this.producto.tipo_id = this.producto.tipo._id;

                axios.put(url, {
                    'nombre'      : this.producto.nombre,
                    'descripcion' : this.producto.descripcion,
                    'precio'      : this.producto.precio,
                    'costo'       : this.producto.costo,
                    'in_menu'     : this.producto.in_menu,
                    'tipo'     : this.producto.tipo,
                    'tipo_id'     : this.producto.tipo_id,
                }).then(
                    response => {
                        this.onEdit = false;
                        this.itemOnEdit = null;
                        this.resetProperties();
                        this.getCollection(this.search, this.pagination.current_page);
                        toastr.success('Actualizado correctamente');
                        $('#create-edit-modal').modal('hide');
                    }).catch(error => {
                    toastr.error(error);
                })
            },
            cancelForm: function () {
                $('#create-edit-modal').modal('hide');
                $('#delete-modal').modal('hide');
                this.resetProperties();
                this.onEdit = false;
                this.onDelete = false;
                this.itemOnEdit = null;
                this.itemOnDelete = null;
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getCollection(this.search, page);
            },
            resetProperties: function () {
                this.producto.nombre = '';
                this.producto.descripcion = '';
                this.producto.precio = '';
                this.producto.costo = '';
                this.producto.in_menu = '';
                this.producto.tipo = {_id: 0};
                this.producto.tipo_id = "";
            }
        },
        computed: {
            pagesNumber: function () {

                if (!this.pagination.to) {
                    return [];
                }


                let from = this.pagination.current_page - this.offset; // TODO offset
                if (from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2); // TODO offset
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }


                return pagesArray;
            },
            currentPage: function () {
                if( this.pagination.from === this.pagination.to )
                {
                    return this.pagination.current_page - 1;
                }
                else
                {
                    return this.pagination.current_page;
                }
            },
            messagePagination: function () {
                if ( this.pagination.total === 0 ) {
                    return "No se han encontrado registros.";
                }
                else {
                    return "Registro(s) del " + this.pagination.from + " al " + this.pagination.to + " de " + this.pagination.total + " encontrado(s).";
                }

            },
            canCreate: function () {
                return true;
            },
            canShow: function () {
                return true;
            },
            canEdit: function () {
                return true;
            },
            canDelete: function () {
                return true;
            },
        },
    }
</script>

<style scoped>

</style>
