<template>
    <div id="app-container">
        <div class="container">
            <div class="card">
                <form v-on:submit.prevent="submitForm">
                    <div class="card-header">
                        <div class="row mb-2">
                            <div class="col-6 text-left">
                                <div class="form-group row">
                                    <label for="totalSale1" class="col-3 col-form-label pr-0" style="font-size: 1.2rem !important;">Total venta:</label>
                                    <div class="col-sm-4 pl-0">
                                        <input class="form-control" type="text" id="totalSale1" readonly :value="sale.total">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <div class="form-group row">
                                    <label for="numero_factura" class="col-8 col-form-label" style="font-size: 1.2rem !important;">Numero de Factura:</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" name="numero" id="numero_factura" readonly :value="numero">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-4">
                                <div class="input-group mb-1">
                                    <input type="number" class="form-control" id="dni" v-model="cliente.dni" @change="getCliente(cliente.dni)" placeholder="Cédula - Formato: 23456987" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" id="firs_name" v-model="cliente.first_name"  placeholder="Nombre" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" id="last_name" v-model="cliente.last_name"  placeholder="Apellido" readonly>
                                </div>
                            </div>
                        </div> 
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" id="telefono" v-model="cliente.phone"  placeholder="Telefono" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" id="direccion" v-model="cliente.address"  placeholder="Direccion" readonly>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-end">
                            <a class="btn btn-block btn-sm btn-info col-1 mr-3" href="#" @click.prevent="showProductsModal">
                                +
                            </a>
                        </div>

                        <table class="table table-hover table-sm mt-3">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center" width="3%">#</th>
                                <th scope="col" class="text-center" width="15%">Nombre</th>
                                <th scope="col" class="text-center" width="40%">Descripción</th>
                                <th scope="col" class="text-center" width="12%">Precio de venta</th>
                                <th scope="col" class="text-center" width="10%">Cantidas</th>
                                <th scope="col" class="text-center" width="15%">Total</th>
                                <th scope="col" class="text-center" width="5%">Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in detailsCollection">
                                <th scope="row" class="text-center">{{ index + 1 }}</th>
                                <td class="text-center">{{ item.product.nombre }}</td>
                                <td class="text-center">{{ item.product.descripcion }}</td>
                                <td class="text-center">{{ item.product.precio }}</td>
                                <td class="text-center"><input type="number" min="1" class="form-control" v-model="item.amount" @keyup="changeAmount(item)"></td>
                                <td class="text-center"><input type="text" class="form-control" v-model="item.subtotal" readonly></td>
                                <td class="text-center"><button class="btn btn-sm btn-danger" v-on:click="deleteDetail(index)"><span class="oi oi-trash">Eliminar</span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-right">
                        <div class="row">
                            <div class="col-6 text-left">
                                <div class="form-group row">
                                    <label for="totalSale2" class="col-3 col-form-label pr-0" style="font-size: 1.2rem !important;">Total venta:</label>
                                    <div class="col-sm-4 pl-0">
                                        <input class="form-control" type="text" id="totalSale2" readonly :value="sale.total">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn btn-sm btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="salesModalLabel">Productos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <products-component title='Producto' url-get="productos/listar" url-create="productos/" url-delete='productos/' url-update="productos/" gender-letter="o" :selectable='true' v-on:item-selected="handleProduct"></products-component>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductsComponent from './ProductsComponent.vue';

    export default {
        data() {
            return {
                Collection: [], // collection to handle
                detailsCollection: [], // collection to handle
                sale: {
                    numero: '',
                    total: 0,
                    detalles: '',
                    cliente: {_id: 0},
                },
                cliente: {
                    _id: '',
                    dni: '',
                    nombre: '',
                    apellido: '',
                    direccion: '',
                    telefono: '',
                },
                search: '', // text for search in the collection
                pagination: {
                    total:         0,
                    current_page:  0,
                    per_page:      0,
                    last_page:     0,
                    from:          0,
                    to:            0,
                },
                offset: 5, // offset for pagination
            }
        },
        components: {
            ProductsComponent,
        },
        props: {
            title: String,
            urlCreate: String,
            urlCliente: String,
            genderLetter: String,
            selectable: Boolean,
            permissions_user: Object,
            module: String,
            numero: String,
            ticketUrl: String
        },
        created () {
            console.log(this.permissions_user);
            this.sale.numero = this.numero;
        },
        methods: {
            submitForm: function () {
                if(this.sale.numero !== '' && this.cliente._id !== ''){
                    this.createItem();
                }else{
                    toastr.error('Debes ingresar todos los campos obligatorios(*)');
                }
            },
            getCliente: function(dni){
                var url = this.urlCliente + "?" + "dni=" + dni;
                axios.get(url).then(response => {
                    if(response.data){
                        this.cliente = response.data;
                    }else{
                        this.resetProperties();
                        toastr.error('El cliente no se encuentra registrado');
                    }
                });

            },
            newItem: function () {

            },
            createItem: function () {
                axios.post(this.urlCreate, {
                    'total'     : this.sale.total,
                    'detalles'     : this.detailsCollection,
                    'cliente'     : this.cliente,
                }).then( response => {
                    console.log(response);

                    toastr.success('Creado correctamente');
                    this.resetProperties();

                    let url = this.ticketUrl + '/' + response.data;
                    window.open(url, '_blank');
                }).catch(error => {
                    toastr.error("Error");
                })
            },
            resetProperties: function () {
                this.detailsCollection = [];
                this.sale = {
                    numero: '',
                    total: 0,
                    detalles: '',
                    cliente: {_id: 0},
                };
                this.cliente = {
                    _id: '',
                    dni: '',
                    nombre: '',
                    apellido: '',
                    direccion: '',
                    telefono: '',
                };
            },
            showProductsModal: function() {
                $('#salesModal').modal('show');
            },
            handleProduct: function(product) {
                console.log(product);


                let detail_index = this.detailsCollection.findIndex( (current_detail) => {
                    return current_detail.product._id === product._id;
                });

                if (detail_index !== -1) {
                    this.detailsCollection[detail_index].amount = Number(this.detailsCollection[detail_index].amount) + 1;
                }
                else {
                    this.detailsCollection.push({
                        product,
                        amount: 1,
                        precio: product.precio,
                        subtotal: product.precio,
                    });
                }

                $('#salesModal').modal('hide');
            },
            deleteDetail: function (index) {
                this.detailsCollection.splice(index, 1);
            },
            changeAmount(item = null) {
                if (item != null) {
                    item.subtotal = Number(item.product.precio * item.amount).toFixed(2);
                }

                this.sale.total = this.detailsCollection.reduce((total, currentValue, currentIndex, arr) => {
                    return total += Number(currentValue.subtotal);
                }, 0)
            },
        },
        watch: {
            detailsCollection () {
                this.changeAmount();
            },
        },
        computed: {

            canCreate: function () {
                return true;
            },
            canShow: function () {
                return true;
            },
            canEdit: function () {
                return true;
            },
            canDelete: function () {
                return true;
            },
        },
    }
</script>

<style scoped>

</style>
