<template>
    <div id="app-container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <!--<h6 class="text-center pb-2">Busqueda</h6>-->
                    <form class="form-inline row justify-content-around" v-on:submit.prevent="" v-on:reset.prevent="resetSearch">
                        <div class="form-group mx-3 mb-2">
                            <div class="mx-2">
                                <input type="text" class="form-control text-center" v-model="search" v-on:keyup="makeSearch" placeholder="Buscar">
                            </div>
                            <div class="mx-2">
                                <button type="reset" class="btn btn-sm btn-secondary">Limpiar</button>
                            </div>
                        </div>
                        <div class="form-group mx-sm-3 mb-2" :class="{ 'w-25': canCreate, 'd-none': !canCreate }">
                            <a href="/sales/" class="btn btn-block btn-sm btn-success mx-3">Generar Venta</a>
                        </div>
                    </form>
                    <div class="row justify-content-around">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Desde: </span>
                                </div>
                                <input class="form-control text-center" type="date" name="inicio" id="fecha_inicio" @change="getCollection('','','inicio')">
                            </div>                            
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Hasta: </span>
                                </div>
                                <input class="form-control text-center" type="date" name="fin" id="fecha_fin"  @change="getCollection('','','fin')">
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="card-body" v-show="(pagination.total > 0)">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Fecha</th>
                            <th scope="col" class="text-center">Número de Factura</th>
                            <th scope="col" class="text-center">Cliente</th>
                            <th scope="col" class="text-center">Total de Venta</th>
                            <th scope="col" class="text-center">Detalle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in Collection">
                            <th scope="row" class="text-center">{{ index + 1 }}</th>
                            <td class="text-center">{{ item.created_at }}</td>
                            <td class="text-center">{{ item.numero }}</td>
                            <td class="text-center">{{ item.cliente.first_name}} {{ item.cliente.last_name}}</td>
                            <td class="text-center">{{ item.total }}</td>
                           <td class="text-center"><button class="btn btn-sm btn-info" v-on:click="showDetalle(item.detalles,item.total)"><span class="oi oi-trash">Detalle</span></button></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(1)">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === 1) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">
                                    Anterior
                                </a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" v-bind:class="{ active: page === pagination.current_page}">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(page)">
                                    {{ page }}
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" v-on:click.prevent="changePage(pagination.current_page + 1)">
                                    Siguiente
                                </a>
                            </li>
                            <li class="page-item" v-bind:class="{ disabled : (pagination.current_page === pagination.last_page) }">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.last_page)">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-footer text-muted text-center">
                    {{ this.messagePagination }}
                </div>
            </div>
        </div>

        <!-- Modal Detalles -->
        <div class="modal fade" id="detalle-modal" tabindex="-1" role="dialog" aria-labelledby="detalle-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form v-on:reset.prevent="cancelForm">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalle de Venta</h4>
                            <button type="reset" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col" class="text-center">Producto</th>
                                    <th scope="col" class="text-center">Cantidad</th>
                                    <th scope="col" class="text-center">Precio</th>
                                    <th scope="col" class="text-center">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in Detalle">
                                    <th scope="row" class="text-center">{{ index + 1 }}</th>
                                    <td class="text-center">{{ item.product.nombre }}</td>
                                    <td class="text-center">{{ item.amount }}</td>
                                    <td class="text-center">{{ item.price}}</td>
                                    <td class="text-center">{{ item.subtotal }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="col text-left">
                                <span class="h5">Total: </span>{{ dtotal }}
                            </div>
                            <button type="reset" class="btn btn-sm btn-secondary">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
     export default {
        data() {
            return {
                Collection: [], // collection to handle
                Detalle: [],
                dtotal: '',
                fechaI: '',
                fechaF: '',
                sale: {
                    numero: '',
                    fecha: '',
                    total: '',
                    detalles: '',
                    cliente: {_id: 0},
                },
                search: '', // text for search in the collection
                onEdit: false, // determine if an item in the collection is being edited
                onDelete: false,
                itemOnEdit: null, // itemOnEdit: null, item that is being updated
                itemOnDelete: null,
                pagination: {
                    total:         0,
                    current_page:  0,
                    per_page:      0,
                    last_page:     0,
                    from:          0,
                    to:            0,
                },
                offset: 5, // offset for pagination
            }
        },
        props: {
            title: String,
            urlGet: String,
            genderLetter: String,
            selectable: Boolean,
            permissions_user: Object,
            module: String,
        },
        created () {
            console.log(this.permissions_user);
            this.getCollection();
        },
        methods: {
            getCollection: function (search = '', page = '',fecha) {
                var url = this.urlGet + "?" + "search=" + search + "&page=" + page + "&inicio=" + this.fechaI + "&fin=" + this.fechaF;
                if(fecha == 'inicio'){          
                    this.fechaI = $("#fecha_inicio").val();
                }else if(fecha == 'fin'){  
                    this.fechaF = $("#fecha_fin").val();
                }
                if(this.fechaI !== '' || this.fechaF !==''){
                    url = this.urlGet + "?" + "search=" + search + "&page=" + page + "&inicio=" + this.fechaI + "&fin=" + this.fechaF;
                }

                axios.get(url).then(response => {
                    console.log(response);
                    this.Collection = response.data.items.data,
                    this.pagination = response.data.pagination
                });
            },
            makeSearch: function () {
                this.getCollection(this.search);
            },
            resetSearch: function () {
                this.search = '';
                this.getCollection();
            },
            showDetalle: function(item,total) {
                $('#detalle-modal').modal('show');
                this.Detalle = item;
                this.dtotal = total;
            },
            cancelForm: function () {
                $('#detalle-modal').modal('hide');
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getCollection(this.search, page);
            },
        },
        computed: {
            pagesNumber: function () {

                if (!this.pagination.to) {
                    return [];
                }


                let from = this.pagination.current_page - this.offset; // TODO offset
                if (from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2); // TODO offset
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }


                return pagesArray;
            },
            currentPage: function () {
                if( this.pagination.from === this.pagination.to )
                {
                    return this.pagination.current_page - 1;
                }
                else
                {
                    return this.pagination.current_page;
                }
            },
            messagePagination: function () {
                if ( this.pagination.total === 0 ) {
                    return "No se han encontrado registros.";
                }
                else {
                    return "Registro(s) del " + this.pagination.from + " al " + this.pagination.to + " de " + this.pagination.total + " encontrado(s).";
                }

            },
            canCreate: function () {
                return true;
            },
            canShow: function () {
                return true;
            },
            canEdit: function () {
                return true;
            },
            canDelete: function () {
                return true;
            },
        },
    }
</script>

<style scoped>

</style>
